DATABASE_URL=postgres://postgres:postgres@localhost:5432/scrawn
CLICKHOUSE_URL=http://default:clickhouse@localhost:8123/scrawn

HMAC_SECRET=
APP_URL=http://localhost:8060 # URL the Scrawn backend is hosted on

# SENTRY_DSN=
# LOG_LEVEL=info
